<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185114239019-jcu4r52m34kj2q12s0mki41n6np2aja2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185114239019-jcu4r52m34kj2q12s0mki41n6np2aja2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>185114239019-97dbhfv877gt8qj8kv42oc53vu8ldb2t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCqBpjEyieC57zwRMUqCKGtQe1Rn_nOCpY</string>
	<key>GCM_SENDER_ID</key>
	<string>185114239019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>funfy</string>
	<key>PROJECT_ID</key>
	<string>funfy-app</string>
	<key>STORAGE_BUCKET</key>
	<string>funfy-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:185114239019:ios:86c3e230711dea479fca6e</string>
</dict>
</plist>
